
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
     background:#fafafa;
}

.right-button{
    float: right;
    margin-right: 5px;
}

.margin-top-component
{
    margin-top: 20px
}

.text-font
{
    font-size: 60px
}

.text-center
{
    text-align: center;
}
.login-background
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 32px; */
}
.m-b-0{
    margin-bottom: 0px;
}
.jumbotron
{
    background: none;
    color: rgb(80, 79, 79);
    padding: 0;
}

.button-background
{
    background-color: rgb(80, 79, 79)
}
.text-color
{
    color: rgb(80, 79, 79)
}
.warning-color
{
    color: red
}

.form-background
{
    background-color: rgba(0,0,0,0.4);
}



/* Login page start here  */

.login-outer {
    background: #fff;
    padding: 30px;
}
.jumbotron h1 {
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
.form-background {
    background: #f0f0f0;
    padding: 33px;
    border: 1px solid #ddd;
}
.form-background .text-color {
    color: #4e4e4e;
}
.form-background .form-control {
    padding: .5rem .75rem;
    border-radius: 0;
}
.form-background .form-control:focus {
    box-shadow: none;
}
.form-background .btn-primary {
    border-radius: 30px;
    border: none;
}
.form-background .btn-primary {
    border-radius: 0;
    border: none;
    padding: 12px;
    margin-top: 24px;
}
.form-background .btn-primary:hover {
    background-color: rgb(99, 99, 99);
}
.form-group .button-background:hover {
    background-color: rgb(99, 99, 99);
}
.form-group .button-background
{
 border-radius: 0;
    border: none;
}
.form-background .btn-primary:focus {
    box-shadow: none !important;
}

.dash-search-button
{
    margin-left: 10px;
     box-shadow: none !important;
     border-radius: 0;
    border: none;
     background-color: #4e4e4e;
}

.dash-search-button:hover{
background-color: rgb(99, 99, 99);
}

.table {
  width: 100%;
}

 .material-table table {
  width: 100%;
}

.dash-margin
{
    margin-left: 45px;
    margin-top: 7px;
    margin-right: 10px;
}

.textbox-height{
    height: 40px;
}

.search-top
{
        margin-top:30px;
}

.form-margin
{
    margin-top: 7px;
    margin-right: 10px;
}


/* Custom CSS start here  */

.page-header {
     padding: 50px 20px;
    display: flex;
    align-items: center;
    position: relative;
    background: #343a40;
}
.page-header h4 {
    margin: auto;
    color: #fff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.page-header .form-group {
margin: 0;
    margin-left: auto;
    position: absolute;
    right: 20px;
}
.page-header .form-group .button-background {
    border-radius: 0;
    border: none;
    border-radius: 50px;
    background: #fff;
    color: #333;
    font-size: 14px;
    padding: 8px 21px;
}
.orgs {
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: relative;
    padding-bottom: 10px;
}
.orgs b {
    font-weight: 600;
}
.orgs:after {
    content: "";
    width: 38px;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 0;
}
select.form-control {
    background: url('./assets/images/backlog-select-arrow.svg');
   -webkit-appearance: none;
    background-position: 95% 12px;
    background-size: 13px;
    background-repeat: no-repeat;
}
select.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #ced4da;
}
.form-control:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #ced4da;
}
.login-background h6 {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}
.material-table th {
    background: #eee;
}
.material-table table {
    box-shadow: none;
}
.material-table {
    border: 1px solid #dcdcdc;
}
.material-table table h5 {
    margin: 0;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}
.material-table table tr:nth-child(even) {
    background: #f2f2f2;
}

/* loader */
#loader {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0079dd;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    right: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.is-invisible 
{  
    display: none;
}

.is-visible 
{
    display: block;
}

.header-margin
{
    margin: -30px -30px 15px -30px
}

@-webkit-keyframes spin {
 0% {
 -webkit-transform: rotate(0deg);
 }
 100% {
 -webkit-transform: rotate(360deg);
 }
 }
 @keyframes spin {
 0% {
 transform: rotate(0deg);
 }
 100% {
 transform: rotate(360deg);
 }
 }